
.textcontainer{
    padding: auto;
}
.homepage{
    animation: unblur 3s;
}
.banner{
    width: 100%;
}
@keyframes unblur {
    0% {
        filter: opacity(0%);
    }
    100% {
        filter: opacity(100%);
    }
}