
.separator{
    margin-top: 10px;
    margin-bottom: 20px;
}
.sidecontent{
    margin-bottom: 20px;
}
.centercontent{
    width: 100%;
    margin-bottom: 20px;
}
.apost{
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
}
.sliders{
    margin-top: 10px;
    margin-bottom: 20px;
}
.contact{
    margin: auto;
}
.map{
    width: 100%;
    border-radius: 10px;
}
