.bar{
    transform: rotate(180deg);
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
.inside{
    animation: fill 1.2s;
    height: 100%;
    background-color: #f1bc2a;
}
.inside:hover{
    background-color: #f1bc2a;
}
.barcontainer{
    height: 120px;
}
@keyframes fill {
    0% {
        height: 1px;
    }
    100% {
        height: 100%;
    }
}